body {
    margin: 0;
    min-height: 100vh;
    min-width: 1064px;
    background-image: url(./img/background@1X.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

header {
    width: 1064px;
    overflow: hidden;
}

.link__logo:hover {
    color: #F26522;
    width: 181px;
}

.logo {
    width: 30%;
    display: inline-block;
    text-transform: uppercase;
}

.logo :first-child {
    font-size: 1.5rem;
}

.logo :last-child {
    font-size: 1.6rem;
}

.logo:before {
    float: left;
    content: "";
    background: url(./img/logo@1X.png) no-repeat;
    width: 57px;
    height: 57px;
    background-size: 100%;
    margin-right: 15px;
}

.logo:hover {
    color: #F26522;
}

.logo:hover::before {
    content: "";
    background: url(./img/logo2.png) no-repeat;
    width: 57px;
    height: 57px;
    background-size: 100%;
}

.contact {
    float: right;
    font-family: "Veranda";
    font-size: 1.125rem;
    margin-top: 6.5px;
    text-align: right;
}

main {
    margin-top: 44px;
    overflow: hidden;
    padding-bottom: 61px;
}

figure {
    margin: 0;
    padding: 0;
    height: 244px;
    width: 312px;
    position: relative;
}

figcaption {
    text-align: center;
    color: #FFFFFF;
    font-family: "Veranda";
    font-size: 1.125rem;
    margin-top: 15px;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
    float: left;
}

.position {
    position: absolute;
    top: 143px;
}

.rect {
    position: relative;
    font-family: "Veranda";
    color: #FFFFFF;
    height: 63px;
    width: 312px;
    background-color: #F26522;
    visibility: hidden;
}

.from {
    position: absolute;
    font-size: 0.625rem;
    width: 24px;
    top: 16px;
    left: 21px;
}

.card6 {
    background-image: url(./img/Layer\ 26@1X.png);
    background-repeat: repeat-x;
}

.price {
    position: absolute;
    font-size: 1.25rem;
    width: 38px;
    left: 21px;
    top: 28px;
}

.details {
    position: absolute;
    font-size: 0.875rem;
    width: 100px;
    left: 185px;
    bottom: 15px;
}

.card2 {
    margin: 0 64px;
}

img {
    width: 307px;
    height: 200px;
}

.card4 {
    margin-top: 54px;
    clear: both;
}

.card5 {
    margin: 0 64px;
    margin-top: 54px;
}

.card6 {
    margin-top: 54px;
}

.card1:hover figcaption>a,
.card2:hover figcaption>a,
.card3:hover figcaption>a,
.card4:hover figcaption>a,
.card5:hover figcaption>a,
.card6:hover figcaption>a {
    color: #F26522;
}

.card1:hover .rect,
.card2:hover .rect,
.card3:hover .rect,
.card4:hover .rect,
.card5:hover .rect,
.card6:hover .rect {
    visibility: visible;
}

.footer__info {
    text-align: center;
    font-family: AdobeInvisFont, Courier, Verdana;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 255);
    bottom: 30px;
    position: absolute;
    left: 600px;
}