html {
    font-size: 15px;
}

body {
    color: white;
    padding: 2% 10%;
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(45deg, gray, gray), url(./img/background@1X.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: multiply;
}

header {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.logo {
    width: 30%;
    display: inline-block;
    text-transform: uppercase;
}

.link__logo:hover {
    color: #F26522;
}

.logo :first-child {
    font-size: 2.5rem;
}

.logo :last-child {
    font-size: 1.8rem;
}

.logo:before {
    float: left;
    content: "";
    background: url(./img/logo@1X.png) no-repeat;
    width: 72px;
    height: 80px;
    background-size: 100%;
    margin-right: 1rem;
}

.contact a {
    text-decoration: none;
    color: white;
}

.contact {
    font-size: 2rem;
    float: right;
}

.position {
    position: absolute;
    top: 143px;
}

.from {
    position: absolute;
    font-size: 0.625rem;
    width: 24px;
    top: 16px;
    left: 21px;
}

.price {
    position: absolute;
    font-size: 1.25rem;
    width: 38px;
    left: 21px;
    top: 28px;
}

.details {
    position: absolute;
    font-size: 0.875rem;
    width: 100px;
    left: 185px;
    bottom: 15px;
}

.footer__info {
    text-align: center;
    font-family: AdobeInvisFont, Courier, Verdana;
    font-size: 12pt;
    color: rgba(255, 255, 255, 255);
    bottom: 0;
    position: absolute;
    left: 700px;
}