header{
    text-align: left;
    font-family: AdobeInvisFont, MyriadPro-Regular, Courier ;
    color: black;
    font-size: 5rem;
}
.container{
    margin: 0 auto;
    width: 90%;
}
.header__logo{
    height: 40px;
}
span{
    color:#4BCAFF;
}

a{
    text-decoration: none;
    color: #000000;
}
.header__menu{
    background-color:#35444F ;
    text-align: center;
    height: 70px;
    margin-top: 44px;
    display: flex;
   }
 
.header__menu li{
    color:#FFFFFF;
    list-style: none;
    margin: 0; 
    display: inline-block;
    height: 70px;
    flex-basis: auto;
    flex-grow: 2;
 
}

.header__menu a{
    font-size: 1.5rem ;
    color:#FFFFFF ;
    line-height: 68px;
    height: 70px;
    width: 100%;
    position:static ;
    display: block;
}
.header__menu li:hover{
    background-color:#222F3A;
    border-color:#818181;
    border-width:0px 1px;
    border-style: 1px solid #000000;
}
.sidebar_l{
    width: 90%;
    overflow: hidden;
    margin: auto;
}
.menu-left{
    width:25% ;
    height: 399px;
    padding: 0;
    list-style: none;
    margin-top: 51px;
    border-style: solid;
    border-color:#35444F;
    border-width:1px;
    float: left;


}
.menu-left a{
    display: inline-block;
    width: 100%;
    height: 80px;
    font-size:1.8rem;
    line-height: 80px;
    margin-left: 44px;
    color: #485863;
       
}
.menu-left a:hover{
    font-size: 2.5rem;
    color: #800000;
}

.img-logo{
    width: 70%;
    height: 529px;
    display: block;
    border:1px solid #000000;
    margin-top: 51px;
    float: left;
    margin-left: 80px;
    display: block;


}

img{
    max-width: 320px;
    height: 381px;
    margin: 70px auto;
    display: block;
}


.content__text{
    overflow: hidden;
    width: 70%;
    margin-top:624px;
    margin-left: 32%;
    font-size: 1.1rem;
    text-align: left;
}
.content__text-2{
    overflow: hidden;
    font-size: 1.1rem;
    margin-top: 10px;
    text-align: left;
}


.footer{
    width: 100%;
    background-color: #B4B7BA;
    height: 69px;
    margin: 40px auto;
    
}
.footer ul{
    list-style: none;
    
}
.footer li{
    float: left;
    font-size: 1.76rem;
    line-height: 45px;
    padding:1%;
    
}
.footer a{
    overflow: hidden;
    color: #0C1927;
    display: inline-block;
    height: 100%;
    
}
.logo_footer{
    color:#010101;
    font-size: 1.5rem;
    text-align: right;
    line-height: 70px;
    padding-right: 1%;
}

.footer a:hover{
    color:#3181A6;
    text-decoration: underline;
}