body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

input[type="text"] {
    color: gray;
    box-sizing: border-box;
    border: solid 1px gray;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    font-size: 14px;
    font-weight: 100;
    padding-left: 15px;
}

input[type="text"]:focus {
    border: solid 1px purple;
    outline: none;
}

.header {
    padding: 10px 30px;
    width: 100%;
}

.header h1 {
    font-size: 30px;
}

.form {
    max-width: 1100px;
    margin: 0 auto;
}

.form p {
    font-size: 20px;
}

.row {
    display: flex;
    justify-content: center;
}

.row__header {
    justify-content: flex-start;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}

.column__left {
    width: 320px;
}

.column_right {
    width: 700px;
}

.container {
    box-sizing: border-box;
    padding: 5px 15px 15px 15px;
    background-color: #f0f2f5;
}

.authorization {
    margin-bottom: 30px;
}

.authorization label {
    font-size: 16px;
}

.personal-data {}

.personal-data label {
    display: block;
    font-size: 14px;
    margin: 10px 0 10px 0;
}

.delivery-data {}

.delivery-data label {
    display: block;
    font-size: 14px;
    margin: 10px 0 10px 0;
}

.delivery-method {
    margin-bottom: 30px;
}

.pay-method {}

.basket {
    padding: 15px;
}

.basket img {
    width: 20px;
    margin: 0 auto;
}

.basket__table {
    width: 100%;
    border-collapse: collapse;
}

.basket p {
    margin-bottom: 10px;
}

.basket .prices {
    width: 100%;
    text-align: right;
}

.basket .prices p {
    font-size: 15px;
}

.basket__table thead {
    background-color: #f0f2f5;
}

.basket__table tbody {
    border-top: 15px solid white;
}

.basket__table tbody td {
    text-align: center;
}

.comments {
    margin-top: auto;
    margin-bottom: 0;
}

.comments label {
    display: block;
}

.comments .additional-comments {
    font-size: 14px;
    margin-bottom: 15px;
}

.comments .apply-form-data {
    font-size: 16px;
}

.comments .comment {
    width: 100%;
    height: 75px;
    resize: none;
    margin-bottom: 10px;
}

.comments button {
    margin-top: 10px;
    float: right;
    border: none;
    border-radius: 50px;
    height: 50px;
    color: #fff;
    background-color: #946fd3;
    padding: 10px 15px;
}