header {
    height: 600px;
    max-width: 1920px;
    background-image: url(./img/24x11-1600x733-daily-habits-nutrition-kit\ 1\ 1.png);
}

.header__nav {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    padding-top: 220px;
    transition: all 10s linear 500ms;
}

.header__nav-title {
    font-size: 2.5rem;
    font-family: Raleway;
    font-weight: 700;
    text-align: left;
    color: #FFFFFF;
}

.header__nav-desc {
    font-size: 1.4rem;
    font-family: Raleway;
    font-weight: 400;
    padding-top: 30px;
    text-align: left;
    color: #FFFFFF;
}

.button {
    width: 101px;
    border-radius: 30px;
    border: 12px solid #946FD3;
    background-color: #946FD3;
    font-family: Raleway;
    font-weight: 400;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.main__bottle {
    justify-content: center;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    /* border: 1px solid aqua; */
    background-image: url(./img/Rectangle\ 3.png);
}

.main__bottle-left {
    animation: move 4s ease-in-out infinite;
    margin-top: -110px;
    margin-left: -113px;
}

@keyframes move {
    0% {
        transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(360deg);
    }
    50% {
        transform: rotateY(360deg);
    }
    100% {
        rotateY(360deg);
    }
}

.main__bottle-right {
    animation: move 4s ease-in-out infinite;
}

.main__bottle-p2 {}

.main__bottle-title {
    text-transform: uppercase;
    color: #946FD3;
    font-family: Raleway;
    font-weight: 700;
    font-size: 1.5rem;
}

.main__bottle-text {
    color: #354657;
    font-family: Raleway;
    font-weight: 700;
    font-size: 2.2rem
}

.button2 {
    width: 101px;
    border-radius: 50px;
    border: 12px solid #946FD3;
    background-color: #946FD3;
    font-family: Raleway;
    font-weight: 400;
    text-align: center;
    color: #fff;
    text-decoration: none;
}