html {
    font-family: Oswald, sans-serif;
}

body {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    margin: 2 auto;
    width: 80%;
}

.menu {
    float: right;
}

.nav {
    margin-left: 214px;
}

header {
    height: 740px;
    background-image: url(./img/Rectangle.png);
    padding-top: 1.5rem;
    display: block;
}

.header__content {
    text-align: center;
    color: #FFFFFF;
    margin-top: 91px;
}

.header__content-title {
    font-size: 4rem;
}

.header__content-subtitle {
    margin-top: 10px;
    font-size: 1rem;
}

.section__nav-1 {
    display: inline-block;
    width: 80%;
    margin: 162px 10px 0px 200px;
    height: 185px;
    padding: 10px;
    background-color: #F7F7F7;
    text-align: center;
    /*border: 1px solid rebeccapurple;*/
}

.section__nav-1 ul {
    font-size: 4.5rem;
    display: inline-block;
    margin: 80px 0;
    color: #F7654A;
    padding-left: 87px;
}

.section__nav-1 :nth-child(2) {
    padding-left: 0px;
}

.section__nav-1 li {
    display: inline-block;
    margin-right: 30px;
    width: 190px;
}

.section__nav-2 {
    display: inline-block;
    background-color: #F7F7F7;
    margin: 0 auto 0 255px;
    height: 80px;
    width: 61.5%;
    /* border: 1px solid rebeccapurple;*/
}

.section__nav-2 li {
    text-align: center;
    display: inline-block;
    margin-right: 0px;
    padding-left: 109px;
    width: 120px;
    font-size: 2.25rem;
    color: black;
}

.section__nav-3 {
    display: inline-block;
    margin-top: -100px;
    margin-left: 253px;
    padding-bottom: 57px;
    background-color: #F7F7F7;
    width: 61.5%;
    height: 10px;
    /* border: 1px solid rebeccapurple;*/
}

.section__nav-3 li {
    font-size: 1.125rem;
    text-align: center;
    display: inline-block;
    margin-right: 20px;
    padding-left: 120px;
    width: 92px;
    font-size: 1.125rem;
    color: #999999;
}

.title2 {
    width: 100%;
    color: black;
    text-transform: uppercase;
    padding: 5px 800px;
    margin-left: -133px;
    margin-top: 290px;
    font-size: 2.2rem;
    /*border: 1px solid red;*/
}

p {
    background-color: #F7654A;
    width: 55px;
    height: 6px;
    margin-top: 45px;
}

h4 {
    color: black;
    font-size: 1.5rem;
}

figure {
    font-size: 1rem;
    width: 100%;
    color: #404149;
    margin-top: 15px;
}

.figure__img1 {
    width: 350px;
    height: 380px;
    margin-top: 74px;
    margin-left: 245px;
    display: inline-block;
    color: #999999;
}

.figure__img2 {
    width: 350px;
    height: 380px;
    margin-top: 74px;
    margin-left: 45px;
    display: inline-block;
    color: #999999;
}

.figure__img3 {
    width: 350px;
    height: 380px;
    margin-top: 74px;
    margin-left: 55px;
    display: inline-block;
    color: #999999;
}

footer {
    height: 181px;
    background-color: #F7654A;
    margin-top: 160px;
}

.footer__footer-text1 {
    color: white;
    display: inline-block;
    margin-left: 405px;
    font-size: 2.5rem;
    margin-top: 30px;
}

.footer__footer-text2 {
    color: white;
    margin-left: 405px;
    font-size: 1.2rem;
    margin-top: 20px;
}

.footer__href {
    font-size: 1rem;
    text-align: center;
    width: 175px;
    height: 50px;
    background-color: white;
    margin: -80px 450px 75px 1200px;
    line-height: 40px;
}