   body {
       margin: 0;
       padding: 0;
       font-family: Raleway;
       color: #354657;
   }
   
   header {
       background-color: #F4EFFA;
       max-width: 1920px;
       margin-left: 10px;
       margin-right: 10px;
   }
   
   .header {
       margin: 0 auto;
       width: 80%;
       display: flex;
       flex-direction: row;
       padding: 2rem 0;
       flex-wrap: wrap;
   }
   
   .header__navigation>ul {
       display: flex;
       flex-direction: row;
       margin: 0;
       padding: 0;
       list-style: none;
       justify-content: space-between;
       align-items: center;
       height: 100%;
   }
   
   .logo {
       display: flex;
       flex-direction: row;
       width: 30%;
   }
   
   .header__navigation,
   .header__icons {
       width: 35%;
   }
   
   .header__icons {
       display: flex;
       justify-content: flex-end;
       align-items: center;
   }
   
   .header__icons div {
       margin: auto 2rem;
   }
   
   .header__navigation a,
   .footer__info-contact a {
       display: block;
       text-decoration: none;
       color: #354657;
       font-size: 1rem;
       font-weight: 700;
   }
   
   .catalog {
       display: none;
   }
   
   main {
       height: 700px;
   }
   
   .main__contact {
       display: flex;
       flex-direction: row;
       margin-left: 10px;
       margin-right: 10px;
       padding-top: 50px;
       font-size: 1.7rem;
       font-weight: 700;
       color: #101418;
       border-bottom: 1.2px solid #E2E2E2;
       width: 100%;
       justify-content: space-between;
   }
   
   .main__container {
       margin-left: 10px;
       margin-right: 10px;
       display: flex;
       flex-direction: row;
       justify-content: center;
   }
   
   .main__asideL {
       margin-left: 10px;
       margin-right: 10px;
       height: 40px;
       padding-top: 20px;
       background-color: #F0F2F5;
       border: 1px solid rgb(100, 96, 96)
   }
   
   .main__asside-map {
       border: 1px solid aqua;
       padding-top: 20px;
   }
   
   footer {
       margin-left: 10px;
       margin-right: 10px;
       background-color: yellowgreen;
       display: flex;
       flex-direction: row;
       width: 100%;
       justify-content: center;
   }
   
   .footer__info-contact {
       display: flex;
       margin: 1px 20px;
       padding: 20px 2px;
   }
   
   .footer__info-contact1,
   .footer__info-contact2 {
       justify-content: flex-start;
       margin-left: 10px;
       padding: 0 10px;
   }
   
   .footer__info-social {
       display: flex;
       justify-content: flex-end;
       align-items: flex-end;
       width: 550px;
   }
   
   .social a {
       display: block;
       width: 30px;
       height: 30px;
       margin: 0 10px 10px 0;
       text-align: center;
       color: #000;
       background: #fff;
       border: 1px solid #ccc;
       border-radius: 24px;
       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 50px rgba(0, 0, 0, 0.1);
   }
   
   .social a:hover {
       color: #fff;
   }
   
   .social svg {
       margin-top: 7px;
       width: 20px;
       height: 20px;
   }
   
   .facebook a:hover {
       background: #3b5998;
   }
   
   .instagram a:hover {
       background: #3f729b;
   }
   
   .linkedin a:hover {
       background: #0e76a8;
   }
   
   .pinterest a:hover {
       background: #c8232c;
   }
   
   .youtube a:hover {
       background: #c4302b;
   }